<!-- Header Section Begin -->
<header class="header-section" *ngFor="let hotel of hotelList; let i = index">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="logo">
        <a [routerLink]="['/']"><img src="./assets/img/logo.png" alt=""></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <nav class="main-menu mobile-menu">
              <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <!-- <li><a href="./about-us.html">About</a></li> -->
                <li><a [routerLink]="['/rooms']">Rooms</a></li>
                <!-- <li><a href="#">Facilities</a>
                  <ul class="drop-menu">
                    <li><a href="#">Junior Suit</a></li>
                    <li><a href="#">Double Room</a></li>
                    <li><a href="#">Senior Suit</a></li>
                    <li><a href="#">Single Room</a></li>
                  </ul>
                </li> -->
                <!-- <li><a href="./news.html">News</a></li>
                <li><a href="./contact.html">Contact</a></li> -->
              </ul>
            </nav>
            <div class="top-info">
              <img src="./assets/img/placeholder.png" alt="">
              <span>{{hotel.address}}</span>
            </div>
          </div>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
  </div>
</header>
<!-- Header End -->