/*---------------------
  Header
-----------------------*/

.header-section {
  background: #353535;
  padding: 38px 0;
  position: absolute;
  left: 0;
  width: 100%;
}

.header-section.other-page {
  border-bottom: 1px solid #ae9548;
}

.header-section.other-page .inner-header .main-menu {
  margin-right: 0;
}

.header-section.other-page .inner-header .main-menu ul li {
  margin-right: 38px;
}

.header-section.other-page .inner-header .top-widget {
  float: right;
}

.header-section.other-page .inner-header .top-widget .top-info {
  float: left;
}

.header-section.other-page .inner-header .top-widget .top-info.address {
  margin-right: 40px;
}

.header-section.other-page .inner-header .top-widget .top-info.phone-num {
  float: right;
  position: relative;
}

.header-section.other-page .inner-header .top-widget .top-info.phone-num img {
  position: absolute;
  left: 0;
  top: -3px;
}

.header-section.other-page .inner-header .top-widget .top-info.phone-num span {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.5px;
  line-height: 18px;
  display: inline-block;
  margin-left: 45px;
}

.inner-header .logo {
  float: left;
  padding-left: 35px;
  margin-right: 30px;
}

.inner-header .logo a {
  display: block;
}

.inner-header .main-menu {
  float: left;
  margin-right: 25px;
}

.inner-header .main-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  position: relative;
}

.inner-header .main-menu ul li:hover a {
  color: #ae9548;
}

.inner-header .main-menu ul li .drop-menu {
  position: absolute;
  left: 0;
  top: 70px;
  background: #ffffff;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inner-header .main-menu ul li .drop-menu li {
  display: block;
  margin-right: 0;
}

.inner-header .main-menu ul li .drop-menu li:hover a {
  color: #ae9548;
}

.inner-header .main-menu ul li .drop-menu li a {
  color: #242424;
  display: block;
  padding: 7px 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.inner-header .main-menu ul li a {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.inner-header .main-menu ul li:hover>.drop-menu {
  top: 30px;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.inner-header .top-info {
  float: right;
  position: relative;
}

.inner-header .top-info img {
  position: absolute;
  left: 0;
  top: 2px;
}

.inner-header .top-info span {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
  display: inline-block;
  margin-left: 45px;
  max-width: 160px;
}

.slicknav_menu {
  display: none;
}