<!-- Hero Slider Begin -->
<ng-container *ngFor="let hotel of hotelList; let i = index">
  <div class="hero-slider">
    <div class="slider-item">
      <div class="single-slider-item set-bg">
        <div class="container" *ngFor="let hotel of hotelList; let i = index">
          <div class="row">
            <div class="col-lg-12">
              <h1>We hope you’ll enjoy <br />your stay.</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="slider-nav">
                <a href="#" class="single-slider-nav">
                  <img src="./assets/img/nav-1.jpg" alt="">
                  <div class="nav-text active">
                    <p>Pool<i class="lnr lnr-arrow-right"></i></p>
                  </div>
                </a>
                <a href="#" class="single-slider-nav">
                  <img src="./assets/img/nav-2.jpg" alt="">
                  <div class="nav-text">
                    <p>Sauna<i class="lnr lnr-arrow-right"></i></p>
                  </div>
                </a>
                <a href="#" class="single-slider-nav last">
                  <img src="./assets/img/nav-3.jpg" alt="">
                  <div class="nav-text">
                    <p>Restaurant<i class="lnr lnr-arrow-right"></i></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Slider End -->

  <!-- Room Availability Section Begin -->
  <section class="room-availability spad">
    <div class="container">
      <div class="room-check">
        <div class="row">
          <div class="col-lg-6">
            <div class="room-item">
              <div class="room-pic-slider room-pic-item" *ngIf="selectedRoom">
                <div class="room-pic">
                  <img src="./assets/img/room-slider/room-1.jpg" alt="">
                </div>
                <div class="room-pic">
                  <!-- <img src="./assets/img/room-slider/room-2.jpg" alt=""> -->
                </div>
                <div class="room-pic">
                  <!-- <img src="./assets/img/room-slider/room-3.jpg" alt=""> -->
                </div>
              </div>
              <div class="room-text">
                <div class="room-title" *ngIf="selectedRoom">
                  <h2>{{selectedRoom.name}}</h2>
                  <div class="room-price">
                    <span>From</span>
                    <h2>&#8358;
                      {{selectedRoom.price}}</h2>
                  </div>
                </div>
                <div class="room-features" *ngIf="selectedRoom">
                  <div class="room-info">
                    <i class="flaticon-019-television"></i>
                    <span>Smart TV</span>
                  </div>
                  <div class="room-info">
                    <i class="flaticon-029-wifi"></i>
                    <span>High Wi-fii</span>
                  </div>
                  <div class="room-info">
                    <i class="flaticon-003-air-conditioner"></i>
                    <span>AC</span>
                  </div>
                  <div class="room-info">
                    <i class="flaticon-036-parking"></i>
                    <span>Parking</span>
                  </div>
                  <div class="room-info last">
                    <i class="flaticon-007-swimming-pool"></i>
                    <span>Pool</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="check-form">
              <h2>Check Availability</h2>
              <form action="#">
                <div class="datepicker">
                  <div class="date-select">
                    <p>From</p>
                    <input type="date" class="datepicker-1" value="dd / mm / yyyy">
                    <img src="./assets/img/calendar.png" alt="">
                  </div>
                  <div class="date-select to">
                    <p>To</p>
                    <input type="date" class="datepicker-2" value="dd / mm / yyyy">
                    <img src="./assets/img/calendar.png" alt="">
                  </div>
                </div>
                <div class="room-quantity">
                  <div class="single-quantity">
                    <p>Adults</p>
                    <div class="pro-qty"><input type="text" value="0"></div>
                  </div>
                  <div class="single-quantity">
                    <p>Children</p>
                    <div class="pro-qty"><input type="text" value="0"></div>
                  </div>
                  <div class="single-quantity last">
                    <p>Rooms</p>
                    <div class="pro-qty"><input type="text" value="0"></div>
                  </div>
                </div>
                <div class="room-selector">
                  <p>Room</p>
                  <select class="suit-select" (change)="selectRoom($event.target.value)">
                    <option *ngFor="let room of hotel.rooms" [value]="room.id">{{room.name}}</option>
                  </select>
                </div>
                <button (click)="checkAvailability()" type="button">CHECK Availability <i
                    class="lnr lnr-arrow-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="about-room">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h2>“Customers may forget what you said but they will never forget how you made them feel”.</h2>
          </div>
        </div>
        <div class="about-para">
          <div class="row">
            <div class="col-lg-6">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero mauris,
                bibendum eget sapien ac, ultrices rhoncus ipsum. Donec nec sapien in urna fermentum
                ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae
                orci. Suspendisse maximus malesuada</p>
            </div>
            <div class="col-lg-6">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at vulputate est.
                Donec tempor felis at nibh eleifend malesuada. Nullam suscipit lobortis aliquam.
                Phasellus lobortis ante lorem, vitae scelerisque lacus tempus sed. Phasellus rutrum
                magna </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Room Availability Section End -->

  <!-- Facilities Section Begin -->
  <div class="facilities-section spad">
    <div class="container">
      <div class="facilities-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h1>Facilities</h1>
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="facilities-img set-bg">
              <img class="set-bg" src="./assets/img/facilities-1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 p-0 ">
            <div class="facilities-text-warp">
              <div class="facilities-text">
                <h2>Wellness Center</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipis-cing elit. Mauris tincidunt consectetur
                  turpis, eget consequat.</p>
                <a href="#" class="primary-btn fac-btn">Visit Center <i class="lnr lnr-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-0 order-lg-1 order-2">
            <div class="facilities-text-warp">
              <div class="facilities-text">
                <h2>Wellness Center</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipis-cing elit. Mauris tincidunt consectetur
                  turpis, eget consequat.</p>
                <a href="#" class="primary-btn fac-btn">Visit Center <i class="lnr lnr-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-0 order-lg-2 order-1">
            <div class="facilities-img set-bg">
              <img class="set-bg" src="./assets/img/facilities-2.jpg" alt="">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Facilities Section End -->


  <!-- Follow Instagram Section Begin -->
  <section class="follow-instagram">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Follow us on Instagram @hotello</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- Follow Instagram Section End -->
</ng-container>