/*---------------------
  Hero Slider
-----------------------*/

.slider-item .single-slider-item {
  height: 938px;
  padding-top: 395px;
}

.slider-item .single-slider-item h1 {
  font-size: 96px;
  color: #ffffff;
  line-height: 96px;
}

.slider-nav {
  position: absolute;
  right: 0;
  top: 0;
}

.slider-nav .single-slider-nav {
  display: inline-block;
  margin-right: 26px;
}

.slider-nav .single-slider-nav.last {
  margin-right: 0;
}

.slider-nav .single-slider-nav:hover .nav-text {
  background: #ffffff;
  border: 1px solid #ae9548;
  border-top: 0;
}

.slider-nav .single-slider-nav:hover .nav-text p {
  color: #081624;
}

.slider-nav .single-slider-nav .nav-text {
  background: #353535;
  padding: 8px 15px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #353535;
  border-top: 0;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url("../../../assets/img/slider-1.jpg");
}

.slider-nav .single-slider-nav .nav-text p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slider-nav .single-slider-nav .nav-text p i {
  position: absolute;
  right: 15px;
  top: 11px;
  font-size: 20px;
  color: #ae9548;
}

/*---------------------
  Room Availability
-----------------------*/

.room-check {
  padding-bottom: 52px;
}

.room-item {
  margin-bottom: 40px;
  -webkit-box-shadow: 2px 15px 75px 6px #ECECEC;
  box-shadow: 2px 15px 75px 6px #ECECEC;
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button] {
  color: #AE9548;
  font-size: 26px;
  height: 69px;
  width: 52px;
  background: #353535;
  line-height: 72px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-34.5px);
  transform: translateY(-34.5px);
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button].owl-next {
  left: auto;
  right: 0;
}

.room-item .room-text {
  overflow: hidden;
  padding-left: 35px;
  padding-top: 35px;
  padding-right: 45px;
  padding-bottom: 37px;
}

.room-item .room-text .room-title {
  overflow: hidden;
  margin-bottom: 36px;
}

.room-item .room-text .room-title h2 {
  float: left;
  font-size: 36px;
  color: #2d220f;
}

.room-item .room-text .room-title .room-price {
  float: right;
  position: relative;
}

.room-item .room-text .room-title .room-price span {
  position: absolute;
  left: -40px;
  bottom: 7px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 14px;
  color: #2d220f;
}

.room-item .room-text .room-title .room-price h2 {
  font-size: 36px;
  color: #081624;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.room-item .room-text .room-features {
  overflow: hidden;
}

.room-item .room-text .room-features .room-info {
  float: left;
  text-align: center;
  margin-right: 50px;
}

.room-item .room-text .room-features .room-info.last {
  margin-right: 0;
}

.room-item .room-text .room-features .room-info i {
  display: block;
  color: #ae9548;
  margin-bottom: -4px;
}

.room-item .room-text .room-features .room-info span {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #2d220f;
}

.check-form {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 55px;
  padding-bottom: 61px;
  border: 2px solid #AE9548;
  margin-bottom: 40px;
}

.check-form h2 {
  font-size: 36px;
  font-weight: 400;
  color: #081624;
  margin-bottom: 40px;
}

.check-form .datepicker {
  margin-bottom: 52px;
}

.check-form .datepicker .date-select {
  display: inline-block;
  position: relative;
  margin-right: 56px;
}

.check-form .datepicker .date-select.to {
  margin-right: 0;
}

.check-form .datepicker .date-select p {
  font-size: 14px;
  color: #081624;
  margin-bottom: 2px;
  font-weight: 400;
}

.check-form .datepicker .date-select input {
  font-size: 14px;
  font-weight: 600;
  color: #242424;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  opacity: 0.5;
  border: none;
  letter-spacing: 1.2px;
  height: 48px;
  border-bottom: 1px solid #888888;
  width: 168px;
  display: block;
}

.check-form .datepicker .date-select img {
  position: absolute;
  right: 0;
  bottom: 16px;
}

.check-form .room-quantity {
  margin-bottom: 34px;
}

.check-form .room-quantity .single-quantity {
  display: inline-block;
  margin-right: 105px;
}

.check-form .room-quantity .single-quantity.last {
  margin-right: 0;
}

.check-form .room-quantity .single-quantity p {
  font-size: 14px;
  color: #081624;
  margin-bottom: 2px;
  font-weight: 400;
}

.check-form .room-quantity .single-quantity .pro-qty {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #8C9299;
}

.check-form .room-quantity .single-quantity .pro-qty .qtybtn {
  float: left;
  width: 15px;
  text-align: center;
  cursor: pointer;
  display: block;
  color: #081624;
  font-size: 18px;
  letter-spacing: 0.4px;
  font-weight: 300;
}

.check-form .room-quantity .single-quantity .pro-qty input {
  width: 28px;
  border: none;
  float: left;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #081624;
  opacity: 0.25;
  letter-spacing: 0.4px;
  margin-top: -2px;
}

.check-form .room-selector {
  display: block;
}

.suit-select {
  border-bottom: 1px solid #AE9548;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 50px;
}

.check-form .room-selector p {
  font-size: 14px;
  color: #242424;
  margin-bottom: 10px;
  font-weight: 400;
}

.check-form .room-selector .nice-select {
  border-radius: 0;
  border-bottom: 1px solid #888888;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  width: 100%;
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 55px;
}

.check-form .room-selector .nice-select span {
  color: #242424;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  opacity: 0.5;
}

.check-form .room-selector select {
  width: 100%;
}

.check-form button {
  font-size: 18px;
  color: #081624;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.check-form button i {
  line-height: 16px;
  margin-top: 6px;
  position: absolute;
  right: -45px;
  bottom: 7px;
  font-size: 31px;
  color: #AE9548;
}

.nice-select {
  border: 0;
}

.nice-select.open .list {
  width: 100%;
}

.nice-select:after {
  border-bottom: 1px solid #0E0E0E;
  border-right: 1px solid #0E0E0E;
  height: 10px;
  width: 10px;
  right: 4px;
  top: 40%;
}

.nice-select .list {
  border-radius: 0;
  margin-top: 0;
}

.about-room h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #242424;
  margin-bottom: 26px;
}

.about-room .about-para {
  margin-bottom: 13px;
}

.about-room .about-para p {
  color: #242424;
  line-height: 32px;
}

.about-room .about-btn {
  text-align: center;
}

/*---------------------
  Facilities
-----------------------*/

.facilities-section {
  background: #F7F7F7;
  padding-bottom: 115px;
  padding-top: 86px;
}

.facilities-content .left-img {
  margin-right: -15px;
}

.facilities-content .left-img img {
  height: 570px;
}

.facilities-content .facilities-text-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 570px;
  background: #ffffff;
  padding: 70px 30px;
}

.facilities-content .facilities-text {
  max-width: 410px;
}

.facilities-content .facilities-text h2 {
  color: #242424;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}

.facilities-content .facilities-text p {
  font-size: 18px;
  line-height: 36px;
  color: #242424;
  color: #242424;
  margin-bottom: 24px;
}

.facilities-content .facilities-text .primary-btn.fac-btn i {
  right: 35px;
}

.facilities-content .facilities-img {
  height: 100%;
}

.testimonial-author-item ul li a:hover .about-text {
  display: block;
}

.testimonial-author-item ul li a:hover .about-pic {
  margin-right: 32px;
}

/*---------------------
  Testimonial
-----------------------*/

.testimonial-item {
  margin-left: -40px;
  margin-right: -40px;
}

.testimonial-item .single-testimonial-item {
  -webkit-box-shadow: 2px 15px 75px 6px #e8e8e8;
  box-shadow: 2px 15px 75px 6px #e8e8e8;
  padding-left: 40px;
  padding-top: 55px;
  padding-bottom: 45px;
  padding-right: 35px;
  margin-bottom: 52px;
  position: relative;
}

.testimonial-item .single-testimonial-item .test-date {
  color: #242424;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  opacity: 0.5;
}

.testimonial-item .single-testimonial-item .test-rating {
  color: #ED8A19;
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-item .single-testimonial-item .test-rating i {
  margin-right: 5px;
}

.testimonial-item .single-testimonial-item h4 {
  color: #242424;
  font-size: 24px;
  line-height: 50.03px;
}

.testimonial-item .single-testimonial-item p {
  font-size: 16px;
  color: #242424;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.testimonial-author-item ul li {
  list-style: none;
  display: inline-block;
}

.testimonial-author-item ul li a.active {
  opacity: 1;
}

.testimonial-author-item ul li a.active .author-pic {
  margin-right: 32px;
}

.testimonial-author-item ul li a.active .author-pic:after {
  opacity: 1;
}

.testimonial-author-item ul li a.active .author-text {
  display: block;
  margin-right: 35px;
}

.testimonial-author-item ul li a {
  display: block;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonial-author-item ul li a:hover {
  opacity: 1;
}

.testimonial-author-item ul li a .author-pic {
  float: left;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.testimonial-author-item ul li a .author-pic:after {
  position: absolute;
  left: 15px;
  top: -72px;
  width: 40px;
  height: 40px;
  background: #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.testimonial-author-item ul li a .author-pic img {
  height: 68px;
  width: 68px;
  border-radius: 50%;
}

.testimonial-author-item ul li a .author-text {
  float: left;
  margin-top: 8px;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonial-author-item ul li a .author-text h5 {
  color: #ae9548;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.testimonial-author-item ul li a .author-text h5 span {
  color: #242424;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-transform: capitalize;
  display: block;
}

/*---------------------
  Follow Instagram
-----------------------*/

.follow-instagram {
  background: #f7f7f7;
  padding: 23px 0;
}

.follow-instagram h2 {
  font-size: 36px;
  color: #242424;
  line-height: 72px;
  font-weight: 400;
}