<section class="hero-section ">
  <img class="set-bg" src="./assets/img/rooms-bg.jpg" alt="">
  <div class="hero-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Rooms</h1>
        </div>
      </div>
      <!-- <div class="page-nav">
        <a href="./services.html" class="left-nav"><i class="lnr lnr-arrow-left"></i> Services</a>
        <a href="./news.html" class="right-nav">News <i class="lnr lnr-arrow-right"></i></a>
      </div> -->
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Rooms Section Begin -->
<section class="room-section spad">
  <div class="container">
    <div class="rooms-page-item" *ngFor="let room of roomList">
      <div class="row">
        <div class="col-lg-6">
          <div class="room-pic-slider owl-carousel">
            <div class="single-room-pic">
              <img src="data:image/jpeg;base64,{{room.type.roomImageUrl}}" alt="">
            </div>
            <div class="single-room-pic">
              <img src="data:image/jpeg;base64,{{room.type.roomImageUrl}}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="room-text">
            <div class="room-title">
              <h2>{{room.name}}</h2>
              <div class="room-price">
                <span>From</span>
                <h2>&#8358;
                  {{room.price}}</h2>
                <sub>/night</sub>
              </div>
            </div>
            <div class="room-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris, bibendum
                eget sapien ac, ultrices rhoncus ipsum.</p>
            </div>
            <div class="room-features">
              <div class="room-info">
                <i class="flaticon-019-television"></i>
                <span>Smart TV</span>
              </div>
              <div class="room-info">
                <i class="flaticon-029-wifi"></i>
                <span>High Wi-fii</span>
              </div>
              <div class="room-info">
                <i class="flaticon-003-air-conditioner"></i>
                <span>AC</span>
              </div>
              <div class="room-info">
                <i class="flaticon-036-parking"></i>
                <span>Parking</span>
              </div>
              <div class="room-info last">
                <i class="flaticon-007-swimming-pool"></i>
                <span>Pool</span>
              </div>
            </div>
            <a href="#" class="primary-btn">Book Now <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Rooms Section End -->