html, body {
  height: 100%;
  font-family: "Taviraj", serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #111111;
  font-weight: 500;
  font-family: "Taviraj", serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  color: #858585;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: #081624;
}

ul, ol {
  padding: 0;
  margin: 0;
}

[class^=flaticon-]:before, [class*=" flaticon-"]:before, [class^=flaticon-]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 40px;
  font-style: normal;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
  margin-bottom: 80px;
}

.section-title h1 {
  color: #242424;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /* background-image: url("./assets/img/slider-1.jpg"); */
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
  color: #ffffff;
}

/* buttons */

.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 0;
  padding-left: 34px;
  padding-right: 64px;
  color: #081624;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border: 2px solid #AE954B;
  position: relative;
}

.primary-btn i {
  position: absolute;
  right: 25px;
  top: 14px;
  font-size: 21px;
  color: #AE9548;
}

.submit-btn {
  color: #ffffff;
  background: #82D026;
  font-size: 14px;
  font-weight: 400;
  border: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Preloder */

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

.el-title {
  margin-bottom: 75px;
}

.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/*----------------------- Responsive Media Styles -------------------------*/

@media (min-width: 1200px) {
  .container {
    max-width: 1176px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .inner-header .logo {
    padding-left: 0;
  }
  .header-section.other-page .inner-header .main-menu ul li {
    margin-right: 20px;
  }
}

/* Medium Device: 1280px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .inner-header .logo {
    padding-left: 0;
  }
  .inner-header .main-menu {
    margin-right: 20px;
  }
  .inner-header .main-menu ul li {
    margin-right: 13px;
  }
  .slider-item .single-slider-item h1 {
    font-size: 90px;
  }
  .room-item .room-text .room-features .room-info {
    margin-right: 28px;
  }
  .check-form .datepicker .date-select {
    margin-right: 20px;
  }
  .check-form .datepicker .date-select input {
    width: 150px;
  }
  .check-form .room-quantity .single-quantity {
    margin-right: 70px;
  }
  .testimonial-item {
    margin-left: 0;
    margin-right: 0;
  }
  .testimonial-item .single-testimonial-item:after {
    left: 15px;
  }
  .header-section.other-page .inner-header .main-menu {
    float: right;
  }
  .header-section.other-page .inner-header .top-widget {
    display: none;
  }
  .single-services-item .services-text h2 {
    font-size: 28px;
  }
  .rooms-page-item .room-text .room-desc p {
    line-height: 24px;
  }
  .rooms-page-item .room-text {
    padding-bottom: 26px;
  }
  .video-tour .video-text h2 {
    font-size: 40px;
  }
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .inner-header .logo {
    margin-right: 30px;
  }
  .inner-header .main-menu {
    float: right;
    margin-right: 0;
  }
  .inner-header .logo {
    padding-left: 0;
    margin-right: 20px;
  }
  .header-section.other-page .inner-header .main-menu ul li, .inner-header .main-menu ul li {
    margin-right: 15px;
  }
  .inner-header .top-info {
    display: none;
  }
  .header-section.other-page .inner-header .logo {
    margin-right: 40px;
  }
  .slider-item .single-slider-item {
    padding-top: 300px;
  }
  .hero-text {
    padding-left: 0;
  }
  .hero-text .page-nav a, .hero-text .page-nav a.right-nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-right: 30px;
  }
  .hero-text .page-nav a.right-nav {
    margin-right: 0;
  }
  .slider-nav {
    position: relative;
    display: block;
    padding-top: 40px;
  }
  .slider-item .single-slider-item h1 {
    font-size: 65px;
    line-height: 1;
  }
  .about-room h2 {
    font-size: 35px;
  }
  .facilities-content .facilities-img {
    height: 600px;
  }
  .testimonial-item {
    margin-left: 0;
    margin-right: 0;
  }
  .testimonial-item .single-testimonial-item:after {
    left: 15px;
  }
  .about-us-room h2 {
    font-size: 35px;
  }
  .video-tour .video-play-btn {
    left: 285px;
  }
  .rooms-page-item .room-text {
    padding-left: 35px;
  }
  .rooms-page-item .room-pic-slider .single-room-pic img {
    height: auto;
  }
  .side-bar {
    padding-top: 50px;
  }
}

/* Large Mobile Device: 480px */

@media only screen and (max-width: 767px) {
  .inner-header .logo {
    padding-left: 0;
  }
  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
  }
  .slicknav_nav {
    background: #555;
  }
  .slicknav_nav ul {
    margin: 0;
  }
  .slicknav_nav .slicknav_row, .slicknav_nav a {
    padding: 10px 10px;
    margin: 0;
  }
  .slicknav_nav a:hover {
    border-radius: 0;
  }
  .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
  }
  .slicknav_btn {
    margin: 0 0 10px 0;
  }
  .header-section.other-page .inner-header .main-menu, .inner-header .main-menu {
    display: none;
  }
  .header-section.other-page .inner-header .top-widget, .inner-header .top-info {
    display: none;
  }
  .header-section {
    z-index: 999;
  }
  .slider-item .single-slider-item h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .slider-item .single-slider-item {
    height: auto;
    padding: 250px 0 150px;
  }
  .slider-nav {
    position: relative;
    display: block;
    padding-top: 40px;
  }
  .slider-nav .single-slider-nav {
    margin-right: 25px;
    width: 130px;
  }
  .slider-nav .single-slider-nav .nav-text p i {
    right: 5px;
    top: 12px;
  }
  .slider-nav .single-slider-nav .nav-text p {
    font-size: 13px;
  }
  .facilities-content .facilities-img {
    height: 400px;
  }
  .room-item .room-text .room-features .room-info {
    margin-right: 28px;
  }
  .check-form .datepicker .date-select {
    margin-right: 30px;
  }
  .check-form .datepicker .date-select input {
    font-size: 13px;
    width: 145px;
  }
  .check-form .room-quantity .single-quantity {
    margin-right: 70px;
  }
  .facilities-content .left-img {
    margin-right: 0;
  }
  .facilities-content .left-img img {
    width: 100%;
  }
  .facilities-content .facilities-text-t {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .facilities-content .facilities-text-d {
    margin-right: 0;
  }
  .facilities-content .right-img img {
    width: 100%;
  }
  .facilities-content .right-img {
    margin-left: 0;
  }
  .testimonial-item {
    margin-left: 0;
    margin-right: 0;
  }
  .testimonial-author-item ul li {
    position: relative;
  }
  .testimonial-author-item ul li a.active .author-text {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100px;
  }
  .testimonial-author-item ul li a.active .author-text h5 {
    font-size: 14px;
  }
  .testimonial-author-item ul li a.active .author-text span {
    font-size: 10px;
    line-height: 1;
  }
  .testimonial-item .single-testimonial-item:after {
    left: 15px;
  }
  .follow-instagram h2 {
    line-height: 45px;
  }
  .footer-section .copyright-area {
    text-align: center;
  }
  .footer-section .copyright-area .copyright-text {
    float: none;
  }
  .footer-section .copyright-area .privacy-links {
    float: none;
    margin-right: 0;
  }
  .footer-section .copyright-area .privacy-links a:last-child {
    margin-right: 0;
  }
  .video-tour .video-text h2 {
    text-align: center;
  }
  .video-tour {
    padding-top: 220px;
  }
  .video-tour .video-play-btn {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin: 0 auto;
    width: 40px;
    padding-top: 50px;
  }
  .rooms-page-item .room-text {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .rooms-page-item .room-pic-slider .single-room-pic img {
    height: auto;
  }
  .hero-text {
    padding-left: 0;
  }
  .hero-text .page-nav a, .hero-text .page-nav a.right-nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-right: 30px;
    font-size: 20px;
  }
  .hero-text .page-nav a.right-nav {
    margin-right: 0;
  }
  .single-services-item .services-text h2 {
    font-size: 35px;
  }
  .side-bar {
    padding-top: 50px;
  }
  .follow-instagram h2 {
    font-size: 20px;
  }
}

/* Small Mobile Device: 320px */

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .slider-nav .single-slider-nav {
    margin-bottom: 30px;
  }
  .inner-header .logo {
    margin-right: 0;
  }
  .section-title h1 {
    font-size: 57px;
  }
  .facilities-content .facilities-text-t {
    padding-left: 45px;
    padding-top: 100px;
    padding-right: 45px;
    padding-bottom: 100px;
  }
  .facilities-content .facilities-text-d {
    padding-left: 45px;
    padding-top: 100px;
  }
  .room-item .room-text {
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 12px;
  }
  .room-item .room-text .room-title h2 {
    font-size: 25px;
  }
  .room-item .room-text .room-title .room-price h2 {
    font-size: 25px;
  }
  .check-form {
    padding-left: 30px;
    padding-right: 30px;
  }
  .check-form .datepicker .date-select {
    margin-right: 20px;
  }
  .check-form .datepicker .date-select input {
    font-size: 7px;
    width: 100px;
    height: 30px;
  }
  .check-form .datepicker .date-select img {
    bottom: 7px;
  }
  .check-form .room-quantity .single-quantity {
    margin-right: 20px;
  }
  .check-form button i {
    right: -32px;
  }
  .blog-post .single-blog-post .blog-text .blog-widget .blog-info {
    margin-right: 13px;
  }
  .header-section.other-page .inner-header .logo {
    margin-right: 0;
  }
  .hero-text h1 {
    font-size: 75px;
  }
  .contact-form {
    padding-left: 30px;
    padding-top: 45px;
    padding-right: 30px;
  }
}