<!-- Footer Room Pic Section Begin -->
<div class="footer-room-pic">
  <div class="container-fluid">
    <div class="row">
      <img src="./assets/img/room-footer-pic/room-1.jpg" alt="">
      <img src="./assets/img/room-footer-pic/room-2.jpg" alt="">
      <img src="./assets/img/room-footer-pic/room-3.jpg" alt="">
      <img src="./assets/img/room-footer-pic/room-4.jpg" alt="">
    </div>
  </div>
</div>
<!-- Footer Room Pic Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section" *ngFor="let hotel of hotelList; let i = index">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-logo">
          <a href="#"><img src="./assets/img/logo.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row pb-50">
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h5>Location</h5>
          <div class="widget-text">
            <i class="lnr lnr-map-marker"></i>
            <p>{{hotel.address}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h5>Reception</h5>
          <div class="widget-text">
            <i class="lnr lnr-phone-handset"></i>
            <p>{{hotel.phoneNumber}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h5>Shuttle Service</h5>
          <div class="widget-text">
            <i class="lnr lnr-phone-handset"></i>
            <p>{{hotel.phoneNumber}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h5>Restaurant</h5>
          <div class="widget-text">
            <i class="lnr lnr-phone-handset"></i>
            <p>{{hotel.phoneNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">

      <div class="privacy-links">
        <!-- <a href="#">Privacy Policy</a>
        <a href="#">Photo Requests</a> -->
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->