/*---------------------
  Footer Room Pic
-----------------------*/

.footer-room-pic img {
  width: 25%;
}

/*---------------------
  Footer
-----------------------*/

.pb-50 {
  padding-bottom: 50px;
}

.footer-section {
  background: #353535;
  padding-top: 43px;
  overflow: hidden;
}

.footer-section .footer-logo {
  margin-bottom: 50px;
}

.footer-section .footer-logo a {
  display: block;
}

.footer-section .single-footer-widget {
  margin-bottom: 25px;
}

.footer-section .single-footer-widget h5 {
  font-size: 18px;
  line-height: 42px;
  color: #ae9548;
}

.footer-section .single-footer-widget .widget-text {
  position: relative;
}

.footer-section .single-footer-widget .widget-text i {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 18px;
  color: #ae9548;
}

.footer-section .single-footer-widget .widget-text p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-left: 30px;
}

.footer-section .copyright-area {
  overflow: hidden;
  padding: 30px 0;
  border-top: 1px solid #ae9548;
}

.footer-section .copyright-area .copyright-text {
  float: left;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
}

.footer-section .copyright-area .copyright-text i {
  color: #ff2410;
}

.footer-section .copyright-area .copyright-text a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-section .copyright-area .privacy-links {
  float: right;
  margin-right: 35px;
}

.footer-section .copyright-area .privacy-links a {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 30px;
}